@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


#vision{
    margin-top:100px;
    padding-top:20px;
}


.divider{

    position:relative;
    width:100%;
}

.divider1{
    clip-path: polygon(0% 0%, 50% 70%, 100% 0%, 100% 30%, 50% 100%, 0% 30%);
    background-color: #A2C3D9;
    height:100px;
    position:absolute;
    width:100%;
    top:0;
    z-index:101;
}

.divider2{
    clip-path: polygon(0% 30%, 50% 100%, 100% 30%, 100% 100%, 50% 100%, 0% 100%);
    background: linear-gradient(90deg, rgba(168,205,234,1) 0%, rgba(193,232,224,1) 100%);
    height:100px;
    position:absolute;
    width:100%;
    top:0px;
    z-index:100;
}

.divider3{
    clip-path: polygon(0% 0%,100% 0%, 50% 70%);
    background: #D9EEFD;
    height:100px;
    position:absolute;
    width:100%;
    top:0px;
    z-index:103;
}



#topportion{
    margin-top:125px;
    display:block;
    align-items: center;
    background-color: #D9EEFD;
}

#headertext{
    font-weight:800;
    font-size:70px;
    text-align: center;
    margin:0px;
    padding-top:80px;
}

.title{
    font-weight: 700;
    font-size: 45px;
    margin-left: 15%;
    margin-bottom: 2%;
}
.text{
    font-weight:300;
    font-size:23px;
    margin-left: 17%;
    margin-right: 17%
}

#desctext{
    font-weight:300;
    font-size:23px;
    text-align: center;
    margin:15px 0px 0px 0px;
    padding-bottom:80px;
}


#values{
    margin-top: 5%;
}

#values-wrapper{
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 18.5%;
}

#leader{
    width: 300px;
    height: 275px;
}

#account{
    width: 300px;
    height: 275px;
}

#passion{
    width: 300px;
    height: 275px;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 275px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  /* Style the back side */
  .flip-card-back {
    background-color: rgb(61, 93, 175);
    color: white;
    transform: rotateY(180deg);
    height: 273px;
    border-radius: 30px;
  }

  .backtext{
    margin-top: 12%;
  }

#values-images{
    object-fit: cover;
    width: 70%;
}

#whatwedo{
    margin-top: 11%;
}

/*#whatwedo-wrapper{

}
*/

.whatwedo-content{
    display: flex;
    color: black;
    margin: 0 auto;
    border-radius: 20px;
    background-color: rgb(217, 238, 253);
    width: 65%;
    height: 225px;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.title1{
    font-weight: 700;
    font-size: 36px;
    margin-left: 6%;
}

#text1{
    font-size: 21.5px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 1%;
    margin-left: 9%;
}
#text2{
    font-size: 21.5px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 1%;
    margin-left: 5.3%;
}
#text3{
    font-size: 21.5px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 1%;
    margin-left: 4.1%;
}



#join-wrapper{
    width: 100%;
    margin-top: 90px;
    background-color: #3d5daf;
    padding-top: 50px;
    padding-bottom: 50px;
    color:white;
}

#join-body{
    display:flex;
    justify-content: space-around;
    margin: 50px 60px 50px 100px;

    height:300px;
}


#join-body-r{

    flex-direction: column;
    max-width:350px;

}

#join-body-r-0{
    font-weight:800;
    font-size:32px;
    margin:0px 0px 20px 0px;

}

#join-body-r-1-wrap,#join-body-r-2-wrap,#join-body-r-3-wrap,#join-body-r-4-wrap{
    display:flex;
    flex-direction: row;
    align-items: center;
    height:60px;
}

#join-body-r-1,#join-body-r-2,#join-body-r-3,#join-body-r-4{
    font-weight:400;
    font-size:21px;
    padding-left:20px;
}


#join-body-m{

    flex-direction: column;
    max-width:350px;

}


#join-body-m-1{
    font-weight:800;
    font-size:32px;
    margin:0px 0px 20px 0px;

}

#join-body-m-2,#join-body-m-3{
    font-weight:400;
    font-size:21px;

}

#join-body-m-4{
    font-weight:400;
    font-size:21px;

}

#join-body-m-5{
    height:15px;

}

#join-body-l{
    display:flex;
    flex-direction: column;
    max-width:350px;
}

#join-body-l-1,#join-body-l-3{
    font-weight:800;
    font-size:40px;
    color:white;
    margin:0px;
    padding:0px;
    text-align: left;
    line-height:40px;
}

#join-body-l-2{
    font-weight:800;
    font-size:40px;
    color:white;
    -webkit-text-fill-color: #3d5daf;
    -webkit-text-stroke: 1.5px white;
    margin:0px;
    padding:0px;
    text-align: left;
}

#join-body-l-4{
    font-weight:300;
    font-size:18px;
    color:white;
    margin:20px 0px 0px 0px;
    text-align: left;
}

.white-line{
    width: 85%;
    height: 1px;
    margin-top: 0px;
    background-color: white;
}

.linkclass,.linkclass:active,.linkclass:visited{
    text-decoration: none;
    color:black;
}

.linkclass:hover{
    text-decoration: underline;
    color:black;
}

.white,.white:visited,.white:active,.white:hover{
    color:white;
}

.headertext-2{
    font-size:40px;
    font-weight:700;
    text-align: center;
    padding-bottom:50px;
    padding-top:50px;
}

#join-wrapper{
    width: 100%;
    margin-top: 90px;
    background-color: #3d5daf;
    padding-top: 50px;
    padding-bottom: 50px;
    color:white;
}

#join-body{
    display:flex;
    justify-content: space-around;
    margin: 50px 60px 50px 100px;
    height:300px;
}


#join-body-r{

    flex-direction: column;
    max-width:350px;

}


#join-body-m{

    flex-direction: column;
    max-width:350px;

}


#join-body-m-1{
    font-weight:800;
    font-size:32px;
    margin:0px 0px 20px 0px;

}

#join-body-m-2,#join-body-m-3{
    font-weight:400;
    font-size:21px;

}

#join-body-m-4{
    font-weight:400;
    font-size:21px;

}

#join-body-m-5{
    height:15px;

}

#join-body-l{
    display:flex;
    flex-direction: column;
    max-width:350px;
}

#join-body-l-1,#join-body-l-3{
    font-weight:800;
    font-size:40px;
    color:white;
    margin:0px;
    padding:0px;
    text-align: left;
    line-height:40px;
}

#join-body-l-2{
    font-weight:800;
    font-size:40px;
    color:white;
    -webkit-text-fill-color: #3d5daf;
    -webkit-text-stroke: 1.5px white;
    margin:0px;
    padding:0px;
    text-align: left;
}

#join-body-l-4{
    font-weight:300;
    font-size:18px;
    color:white;
    margin:20px 0px 0px 0px;
    text-align: left;
}

.white-line{
    width: 85%;
    height: 1px;
    margin-top: 0px;
    background-color: white;
}

.linkclass,.linkclass:active,.linkclass:visited{
    text-decoration: none;
    color:black;
}

.linkclass:hover{
    text-decoration: underline;
    color:black;
}

.white,.white:visited,.white:active,.white:hover{
    color:white;
}

#extra-wrapper-parent{
    margin-top:200px;
}

#join-body-b{
    display:flex;
    flex-direction: row;
    gap:100px;
}

@media screen and (max-width:1100px)  {
    #join-body-l1{
        display:flex;
        gap:2%;
        align-items: center;
    }

    #join-body-l-4{
        max-width:80%;
        text-align: center;
        font-size:16px;
    }

    #join-body-b{
        display:flex;
        gap:20%;
        margin-top:50px;
    }

    #join-body{
        flex-direction: column;
        height:auto;
    }

    #join-body-l{
        max-width:none;
        align-items: center;
    }

    #join-body-m{
        max-width: none;
    }

    #join-body-r{
        max-width: none;
    }
    #join-body-l-1,#join-body-l-2,#join-body-l-3{
        font-size:35px;
    }
    

}

@media screen and (max-width:845px)  {
    #join-body-b{
        gap:15%;
    }

}

@media screen and (max-width: 700px){

    #headertext{
        font-size: 44px;
    }

    #desctext{
        font-size: 16px;
        padding-bottom: 50px;
    }

    .title{
        font-size: 40px;
        margin-left: 10%;
        margin-bottom: 0px;
    }

    .text{
        font-size: 17px;
        margin-left: 10%;
        margin-right: 10%;
    }

    #values-wrapper{
        margin-left: 5%;
        margin-right: 1.5%;
        display: inline;
    }
    
    .backtext{
        margin-top: 14%;
        margin-left: 5%;
        margin-right: 5%;
      }
    
    .flip-card{
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 15%;
    }
    
    .whatwedo-content{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
    .title1{
        font-size: 22px;
        margin-left: 15px;
    }

    #text1{
        font-size: 14px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #text2{
        font-size: 14px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #text3{
        font-size: 14px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #join-body-l1{
        flex-direction: column;
    }
    #join-body-l-4{
        width:100%
    }
    #join-body{
        margin:40px 50px;
    }
    #join-body-b{
        flex-direction: column;
        gap:20px;
    }

    #join-body-m-1{
        font-size:22px;
    }

    #join-body-m-1,#join-body-m-2,#join-body-m-3,#join-body-m-4{
        font-size:17px;
    }

    #join-body-r-1,#join-body-r-2,#join-body-r-3,#join-body-r-4{
        font-size:17px;
        margin:15px 0px;
    }

    #join-body-r img{
        width:22px;
        height:auto;
    }
}

.team { padding: 50px 20px; }

.team-name {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 0;
}

.team-grid {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
    max-width: 1100px;
    margin: 0 auto;             
}

.team-member { text-align: center; }

.team-member img.team-photo {
    width: 180px;
    height: 240px;        
    object-fit: cover;   
    display: block;
    margin: 0 auto 12px;
}