@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


#topportion{
    margin-top:125px;
    display:block;
    align-items: center;
    background-color: #D9EEFD;
}

#comp-specifics{
    display:block;
    align-items: center;
    background-color: white;
    padding-top:100px;
}

#funding{
    display:block;
    align-items: center;
    background-color: #D9EEFD;
    padding-bottom: 60px;
}

#benefits{
    display:block;
    align-items: center;
    background-color: white;
}

#headertext{
    font-weight:800;
    font-size:70px;
    text-align: center;
    margin:0px;
    padding-top:80px;
}

#desctext{
    font-weight:300;
    font-size:23px;
    text-align: center;
    margin:15px 0px 0px 0px;
    padding-bottom:80px;
}

.divider{

    position:relative;
    width:100%;
}

.divider1{
    clip-path: polygon(0% 0%, 50% 70%, 100% 0%, 100% 30%, 50% 100%, 0% 30%);
    background-color: #A2C3D9;
    height:100px;
    position:absolute;
    width:100%;
    top:0;
    z-index:101;
}

.divider2{
    clip-path: polygon(0% 30%, 50% 100%, 100% 30%, 100% 100%, 50% 100%, 0% 100%);
    background: linear-gradient(90deg, rgba(168,205,234,1) 0%, rgba(193,232,224,1) 100%);
    height:100px;
    position:absolute;
    width:100%;
    top:0px;
    z-index:100;
}

.divider3{
    clip-path: polygon(0% 0%,100% 0%, 50% 70%);
    background: #D9EEFD;
    height:100px;
    position:absolute;
    width:100%;
    top:0px;
    z-index:103;
}

#headerwrap-1{
    margin: 80px 0px 0px 15px;
}

#headerwrap-2{
    margin: 80px 0px 0px 15px;
    padding-top: 40px;
}

#headerwrap-3{
    margin: 80px 0px 0px 15px;
}

#headertext-1{
    font-size:32px;
    font-weight:700;
    padding-left:80px;
}

.contentwrap{
    color: black;
    margin-left:20px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight:800;
}

.collapsibleTitle{
    font-size: 20px;
    font-weight:600;
}

.collapsible{
    color: black;
    padding-top:10px;
    padding-bottom:10px;
    margin-left:100px;
    margin-right:100px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight: 600;
}

.split-line{
    height: 1px;
    margin-top: 0px;
    background-color: white;
}

#CompetitionSpecifics1,
#CompetitionSpecifics3,
#CompetitionSpecifics4,
#CompetitionSpecifics2,
#CompetitionSpecifics5,
#CompetitionSpecifics6,
#CompetitionSpecifics7,
#Funding1,
#Funding2,
#Benefits1,
#Benefits2{
    display: none;
}






#join-wrapper{
    width: 100%;
    margin-top: 90px;
    background-color: #3d5daf;
    padding-top: 50px;
    padding-bottom: 50px;
    color:white;
}

#join-body{
    display:flex;
    justify-content: space-around;
    margin: 50px 60px 50px 100px;
    height:300px;
}


#join-body-r{

    flex-direction: column;
    max-width:350px;

}

#join-body-r-0{
    font-weight:800;
    font-size:32px;
    margin:0px 0px 20px 0px;

}

#join-body-r-1-wrap,#join-body-r-2-wrap,#join-body-r-3-wrap,#join-body-r-4-wrap{
    display:flex;
    flex-direction: row;
    align-items: center;
    height:60px;
}

#join-body-r-1,#join-body-r-2,#join-body-r-3,#join-body-r-4{
    font-weight:400;
    font-size:21px;
    padding-left:20px;
}


#join-body-m{

    flex-direction: column;
    max-width:350px;

}


#join-body-m-1{
    font-weight:800;
    font-size:32px;
    margin:0px 0px 20px 0px;

}

#join-body-m-2,#join-body-m-3{
    font-weight:400;
    font-size:21px;

}

#join-body-m-4{
    font-weight:400;
    font-size:21px;

}

#join-body-m-5{
    height:15px;

}

#join-body-l{
    display:flex;
    flex-direction: column;
    max-width:350px;
}

#join-body-l-1,#join-body-l-3{
    font-weight:800;
    font-size:40px;
    color:white;
    margin:0px;
    padding:0px;
    text-align: left;
    line-height:40px;
}

#join-body-l-2{
    font-weight:800;
    font-size:40px;
    color:white;
    -webkit-text-fill-color: #3d5daf;
    -webkit-text-stroke: 1.5px white;
    margin:0px;
    padding:0px;
    text-align: left;
}

#join-body-l-4{
    font-weight:300;
    font-size:18px;
    color:white;
    margin:20px 0px 0px 0px;
    text-align: left;
}

.white-line{
    width: 85%;
    height: 1px;
    margin-top: 0px;
    background-color: white;
}

.linkclass,.linkclass:active,.linkclass:visited{
    text-decoration: none;
    color:black;
}

.linkclass:hover{
    text-decoration: underline;
    color:black;
}

.white,.white:visited,.white:active,.white:hover{
    color:white;
}

#extra-wrapper-parent{
    margin-top:200px;
}

#join-body-b{
    display:flex;
    flex-direction: row;
    gap:100px;
}

#keep-exploring{
    margin: 40px 50px 100px 230px;
    display:flex;
    flex-direction: row;
}

#keep-exploring-left{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display:flex;
    flex-direction:column;
    padding:10px 80px 50px 80px;
    background-color:#D9EEFD;
}

#keep-exploring-right{
    margin:0;
    padding:0;
}

#keep-exploring-right-image{
    height: 100%;
    object-fit: cover;
    width:500px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.headertext-2{
    font-size:40px;
    font-weight:700;
    text-align: center;
    padding-bottom:50px;
    padding-top:50px;
}

.gradient-button{
    margin-bottom:30px;
    border-radius: 50px;
    border: 0;
    color: white;
    padding:12px 40px 12px 40px;
    font-size:20px;
    font-weight: 600;
    word-spacing: 1.5px;
    background: rgb(114,183,230);
    text-align:center;
    background: linear-gradient(90deg, rgba(114,183,230,1) 0%, rgba(150,224,211,1) 100%);
}
@media screen and (max-width:1100px)  {
    #join-body-l1{
        display:flex;
        gap:2%;
        align-items: center;
    }

    #join-body-l-4{
        max-width:80%;
        text-align: center;
        font-size:16px;
    }

    #join-body-b{
        display:flex;
        gap:20%;
        margin-top:50px;
    }

    #join-body{
        flex-direction: column;
        height:auto;
    }

    #join-body-l{
        max-width:none;
        align-items: center;
    }

    #join-body-m{
        max-width: none;
    }

    #join-body-r{
        max-width: none;
    }
    #join-body-l-1,#join-body-l-2,#join-body-l-3{
        font-size:35px;
    }
    

}


@media screen and (max-width:845px)  {
    #join-body-b{
        gap:15%;
    }

}

@media screen and (max-width:700px)  { 
       
    #headertext{
        font-size: 45px;
        padding-top: 60px;
    }

    #desctext{
        font-size: 15px;
        padding-left: 12%;
        padding-right: 12%;
        padding-bottom: 40px;
    }

    #headertext-1{
        font-size: 26px;
        padding-left: 12%;
    }

    .collapsible{
        margin-left: 15%;
        margin-right: 15%;
    }
    .collapsibleTitle{
        font-size: 19px;
    }

    .contentwrap{
        font-size: 16px;
    }

    #keep-exploring{
        margin: 0px 30px 0px 27px;
        padding-top: 30px;
    }
    
    #keep-exploring-left{
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        display:flex;
        flex-direction:column;
        padding:0px 0px 0px 0px;
        width: 50%;
        height: 300px;
    }
    
    #keep-exploring-right-image{
        width:190px;
    }
    
    .headertext-2{
        font-size:25px;
        padding-bottom:10px;
        padding-top:25px;
    }

    .gradient-button{
        padding:3px 5px 3px 5px;
        margin: 10px 20px 10px 20px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 25px;
    }
    #join-body-l1{
        flex-direction: column;
    }
    #join-body-l-4{
        width:100%
    }
    #join-body{
        margin:40px 50px;
    }
    #join-body-b{
        flex-direction: column;
        gap:20px;
    }

    #join-body-m-1{
        font-size:22px;
    }

    #join-body-m-1,#join-body-m-2,#join-body-m-3,#join-body-m-4{
        font-size:17px;
    }


    #join-body-r img{
        width:22px;
        height:auto;
    } 
}