{% extends 'basenocss.html' %}

<!-- {% block lHeader %}
{% endblock %}
{% block cHeader %}
{% endblock %}
{% block rHeader %}
{% endblock %}
 -->

{% block head %}
<title>About Us</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="color-scheme" content="light only" />
<meta name="description" content="SolveXChange Resources" />
<meta property="og:site_name" content="SolveXChange" />
<meta property="og:title" content="SolveXChange" />
<meta property="og:type" content="website" />
<meta property="og:description" content="" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- <link rel="stylesheet" href="style.css" /> -->
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}" sizes="16x16" />
<link href="{{ url_for('static', filename='css/aboutus.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/aboutus.js') }}"></script>
<link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet">



{% endblock %}

{% block body %}
<div id="everything">
    <div id="top-bar">
        <img id="top-logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Organization Logo">
        <div id = "top-interactables">
            <ul class = 'sidebar'>
                <li class='xbutton' onclick=hideSidebar()><a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                <li class="toplink "><a class="toplinka" href="/">Home Page</a></li>
                <li class="toplink "><a class="toplinka_"href="/aboutus">About Us</a></li>
                <li class="toplink "><a class="toplinka"href="/forum">Forum</a></li>
                <li class="toplink "><a class="toplinka"href="/resources">Resources</a></li>
                <li class="toplink "><a class="toplinka"href="/faq">FAQ</a></li>
                <li class="toplink "><a class="toplinka"href="/getinvolved">Get Involved</a></li>
                <li class="toplink "><a class="toplinka"href="/login">Log In</a></li>
            </ul>
            <ul id="normal-interactables">
                <li class="toplink hideonmobile"><a class="toplinka" href="/">Home Page</a></li>
                <li class="toplink hideonmobile"><a class="toplinka_"href="/aboutus">About Us</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/forum">Forum</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/resources">Resources</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/faq">FAQ</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/getinvolved">Get Involved</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/login">Log In</a></li>
                <li class="menubutton" onclick=showSidebar()><a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#5f6368"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
            </ul>
        </div>
    </div>
    <section id="topportion">
        <p id="headertext">About Us</p>
        <p id="desctext">SolveXchange is a student-led initiative that empowers <br>youth to become the driving force behind transformative <br>change, one idea at a time. </p>
    </section>
    <div class="divider">
        <div class="divider3"></div>
        <div class="divider1"></div>
    </div>
    <section id="vision">
        <p class="title">Our Vision</p>
        <p class="text">SolveXchange provides students with a unique platform to identify, analyze, and propose solutions to various challenges present within their communities.</p>
        <p class="text">Aspiring student entrepreneurs are given the chance to pitch their ideas, showcasing their voices and creativity on a platform built to let innovation flourish.</p>
        <p class="text">Students are introduced to the fundamentals of entrepreneurship, business planning, and project execution, fostering skills that are valuable both in school<br>and beyond. </p>
        <p class="text">SolveXchange provides a hands-on experience where students can apply their academic knowledge to real-world scenarios, using their passion to take accountability and leadership in their communities.</p>
    </section>
    <section id="values">
        <p class="title">Our Values</p>
        <div id="values-wrapper">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img id="leader" src="{{ url_for('static', filename='images/leader.png') }}">
                  </div>
                  <div class="flip-card-back">
                    <p class="backtext">SolveXchange strives to develop the next generation of leaders by empowering students to become the leading force behind transformative change in their communities.</p>
                  </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img id="passion" src="{{ url_for('static', filename='images/passion.png') }}">
                  </div>
                  <div class="flip-card-back">
                    <p class="backtext">SolveXchange aims to ignite students' passion for entrepreneurship and problem-solving. By engaging in projects that are meaningful to them, they can develop a true drive to make a positive impact in the world. </p>
                  </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img id="account" src="{{ url_for('static', filename='images/account.png') }}">
                  </div>
                  <div class="flip-card-back">
                    <p class="backtext">SolveXchange aims to cultivate a sense of accountability among students toward their communities, fostering responsibility and integrity that prepare them for future leadership roles.<p>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <section id="whatwedo">
        <p class="title">What We Do</p>
        <div id="whatwedo-wrapper">
            <div class="whatwedo-content">
                <div class="title1">
                    Platform
                </div>
                <div id="text1">
                    SolveXchange provides students with various platforms to collaborate, share ideas, showcase their work and gain recognition. Our forum, social media , and professional connections all serve as avenues for students to network and amplify their voices.
                </div>
            </div>
            <div class="whatwedo-content">
                <div class="title1">
                    Resources
                </div>
                <div id="text2">
                    SolveXchange is dedicated to providing students with access to a wide range of resources, aiming to empower students to turn their ideas into reality. This includes mentorship, funding, lessons and more.
                </div>
            </div>
            <div class="whatwedo-content">
                <div class="title1">
                    Inspiration
                </div>
                <div id="text3">
                    SolveXchange seeks to ignite a creative spark in students, encouraging them to take channel their genuine passion to positively impact their communities. Our forum serves as a space to foster a community dedicated to making meaningful change.
                </div>
            </div>
        </div>
    </section>
    <section id="team" class="team">
        <p class="title">Our Team</p>
        <div class="team-grid">

            <div class="team-member">
                <img src="{{ url_for('static', filename='images/Sara.jpeg') }}" alt="Sara" class="team-photo">
                <p class="team-name">Sara Afshar</p>
                <p class="team-name">President</p>
            </div>

            <div class="team-member">
                <img src="{{ url_for('static', filename='images/Pavani.jpeg') }}" alt="Pavani" class="team-photo">
                <p class="team-name">Pavani Sangapallar</p>
                <p class="team-name">President</p>
            </div>

            <div class="team-member">
                <img src="{{ url_for('static', filename='images/Anya.png') }}" alt="Anya" class="team-photo">
                <p class="team-name">Anya Kaur</p>
                <p class="team-name">Director of Marketing</p>
            </div>

            <div class="team-member">
                <img src="{{ url_for('static', filename='images/Elsa.jpeg') }}" alt="Elsa" class="team-photo">
                <p class="team-name">Elsa Pan</p>
                <p class="team-name">Director of Marketing</p>
            </div>

            <div class="team-member">
                <img src="{{ url_for('static', filename='images/Isabell.png') }}" alt="Isabell" class="team-photo">
                <p class="team-name">Isabell Zhang</p>
                <p class="team-name">Director of Operations</p>
            </div>

            <div class="team-member">
                <img src="{{ url_for('static', filename='images/Karan.jpeg') }}" alt="Karan" class="team-photo">
                <p class="team-name">Karan Saxena</p>
                <p class="team-name">Director of Operations</p>
            </div>

            <div class="team-member">
                <img src="{{ url_for('static', filename='images/Andy.jpg') }}" alt="Andy" class="team-photo">
                <p class="team-name">Andy Hong</p>
                <p class="team-name">Director of Technology</p>
            </div>

            <div class="team-member">
                <img src="{{ url_for('static', filename='images/Atharv1.jpeg') }}" alt="Atharv" class="team-photo">
                <p class="team-name">Atharv Mahajan</p>
                <p class="team-name">Director of Technology</p>
            </div>

            <div class="team-member">
                <img src="{{ url_for('static', filename='images/Maya.jpeg') }}" alt="Maya" class="team-photo">
                <p class="team-name">Maya Sharma</p>
                <p class="team-name">Director of Training</p>
            </div>

            <div class="team-member">
                <img src="{{ url_for('static', filename='images/Smera.jpeg') }}" alt="Smera" class="team-photo">
                <p class="team-name">Smera Sharma</p>
                <p class="team-name">Director of Training</p>
            </div>

            <div class="team-member">
                <img src="{{ url_for('static', filename='images/Nabiha.png') }}" alt="Nabiha" class="team-photo">
                <p class="team-name">Nabiha Khan</p>
                <p class="team-name">Director of Outreach</p>
            </div>

            <div class="team-member">
                <img src="{{ url_for('static', filename='images/Bonnie.jpg') }}" alt="Bonnie" class="team-photo">
                <p class="team-name">Bonnie Luo</p>
                <p class="team-name">Director of Outreach</p>
            </div>
        </div>
    </section>
    

    <footer id="join-wrapper">
        <hr class="white-line">
        <div id="join-body">
            <div id="join-body-l">
                <div id="join-body-l1">
                    <p id="join-body-l-1">JOIN</p>
                    <p id="join-body-l-2">SOLVEXCHANGE</p>
                    <p id="join-body-l-3">TODAY</p>
                </div>
                <p id="join-body-l-4">Join a community of inspiring youth leaders. Become the driving force behind transformative change.</p>
            </div>
            <div id="join-body-b">
                <div id="join-body-m">
                    <p id="join-body-m-1">Take Action</p>
                    <p id="join-body-m-2"><a class="white linkclass" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSduh7FjbUmMw-cd_wfcYqAT9okcFZKL6EYLEFNEd-YoRp6ufQ/viewform?usp=header">Sign Up</a></p>
                    <p id="join-body-m-3"><a class="white linkclass" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSf7dE2LwcWWHos2Zh2kMmCBFBa_sGGffRKAEe76a8WYhl7eeg/viewform?usp=header">Become an executive</a></p>
                    <p id="join-body-m-4"><a class="white linkclass" target="_blank" href="https://www.instagram.com/p/C9nvJi9PVgE/">Become a judge</a></p>
    
                </div>
                <div id="join-body-r">
                    <p id="join-body-r-0">Connect With Us</p>
                    <div id="join-body-r-1-wrap"><img id="classroom" src="{{ url_for('static', filename='images/classroom.png') }}" width="35" height="27"><p id="join-body-r-1"><a class="white linkclass" target="_blank" href="https://classroom.google.com/c/NjE4MzQ1Mjg3NDcy?cjc=2aqmjab">Classroom</a></p></div>
                    <div id="join-body-r-2-wrap"><img id="insta" src="{{ url_for('static', filename='images/insta.png') }}" width="35" height="35" ><p id="join-body-r-2"><a class="white linkclass" target="_blank" href="https://www.instagram.com/solvexchange/">@solvexchange</a></p></div>
                    <div id="join-body-r-3-wrap"><img id="linkedin" src="{{ url_for('static', filename='images/linkedin.png') }}" width="35" height="35"><p id="join-body-r-3"><a class="white linkclass" target="_blank" href="https://www.linkedin.com/in/solvexchange-irhs-3b6526288/">SolveXchange</a></p></div>
                    <div id="join-body-r-4-wrap"><img id="email" src="{{ url_for('static', filename='images/email.png') }}" width="35" height="25.68"><p id="join-body-r-4"><a class="white linkclass" target="_blank" href="https://mail.google.com/mail/u/0/?tf=cm&fs=1&to=solvexchange.info@gmail.com&hl=en-US">solvexchange.info@gmail.com</a></p></div>
                </div>
            </div>
    
        </div>
        <hr class="white-line">
    </footer>    
</div>



{% endblock %}