{% extends 'basenocss.html' %}

<!-- {% block lHeader %}
{% endblock %}
{% block cHeader %}
{% endblock %}
{% block rHeader %}
{% endblock %}
 -->

{% block head %}
<title>FAQ</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="color-scheme" content="light only" />
<meta name="description" content="SolveXchange FAQ" />

<meta property="og:description" content="" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- <link rel="stylesheet" href="style.css" /> -->
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}" sizes="16x16" />
<link href="{{ url_for('static', filename='css/faq.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/faq.js') }}"></script>
<link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet">


{% endblock %}

{% block body %}
<div id="everything">
    <div id="top-bar">
        <img id="top-logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Organization Logo">
        <div id = "top-interactables">
            <ul class = 'sidebar'>
                <li class='xbutton' onclick=hideSidebar()><a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                <li class="toplink "><a class="toplinka" href="/">Home Page</a></li>
                <li class="toplink "><a class="toplinka"href="/aboutus">About Us</a></li>
                <li class="toplink "><a class="toplinka"href="/forum">Forum</a></li>
                <li class="toplink "><a class="toplinka"href="/resources">Resources</a></li>
                <li class="toplink "><a class="toplinka_"href="/faq">FAQ</a></li>
                <li class="toplink "><a class="toplinka"href="/getinvolved">Get Involved</a></li>
                <li class="toplink "><a class="toplinka"href="/login">Log In</a></li>
            </ul>
            <ul id="normal-interactables">
                <li class="toplink hideonmobile"><a class="toplinka" href="/">Home Page</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/aboutus">About Us</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/forum">Forum</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/resources">Resources</a></li>
                <li class="toplink hideonmobile"><a class="toplinka_"href="/faq">FAQ</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/getinvolved">Get Involved</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/login">Log In</a></li>
                <li class="menubutton" onclick=showSidebar()><a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#5f6368"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
            </ul>
        </div>
    </div>
    <section id="topportion">
        <p id="headertext">FAQ</p>
        <p id="desctext">Do you have a question about SolveXchange that you want<br>answered? Check out some Frequently Asked Questions that<br>students have commonly asked below.</p>
    </section>
    <div class="divider">
        <div class="divider3"></div>
        <div class="divider1"></div>
    </div>

    <section id="comp-specifics">
        <div id="headerwrap-1">
            <a id="headertext-1">Competition Specifics</a>
        </div>
        <div class="collapsible">
            <p class="collapsibleTitle"><label id="labelCompetitionSpecifics1" onclick="expandDiv('CompetitionSpecifics1')" style="cursor: pointer;">+</label> What exactly do I have to create?</p>
            <div class="contentwrap" id="CompetitionSpecifics1">
                <p>You’ll be creating a pitch for an idea you’re passionate about. It doesn’t have to be a full business — just something innovative that you want to share with others.</p>
            </div>
            <hr class="split-line">
        </div>
        <div class="collapsible">
            <p class="collapsibleTitle"><label id="labelCompetitionSpecifics2" onclick="expandDiv('CompetitionSpecifics2')" style="cursor: pointer;">+</label> Do I have to pitch a business?</p>
            <div class="contentwrap" id="CompetitionSpecifics2">
                <p>Not at all! Your pitch can be a product, service, project, or initiative — as long as it’s creative and impactful.</p>
            </div>
            <hr class="split-line">
        </div>
        <div class="collapsible">
            <p class="collapsibleTitle"><label id="labelCompetitionSpecifics3" onclick="expandDiv('CompetitionSpecifics3')" style="cursor: pointer;">+</label> Can I compete in groups?</p>
            <div class="contentwrap" id="CompetitionSpecifics3">
                <p>Yes! You can team up with up to four people. Working with friends can make the process even more fun.</p>
            </div>
            <hr class="split-line">
        </div>
        <div class="collapsible">
            <p class="collapsibleTitle"><label id="labelCompetitionSpecifics4" onclick="expandDiv('CompetitionSpecifics4')" style="cursor: pointer;">+</label> Do I need to be part of a chapter at my school to compete?</p>
            <div class="contentwrap" id="CompetitionSpecifics4">
                <p>Nope — anyone can join! You can sign up individually or with a group, submit your idea, and present it at the pitch competition. No chapters needed.</p>
            </div>
            <hr class="split-line">
        </div>
        <div class="collapsible">
            <p class="collapsibleTitle"><label id="labelCompetitionSpecifics5" onclick="expandDiv('CompetitionSpecifics5')" style="cursor: pointer;">+</label> When do I have to submit my proposal?</p>
            <div class="contentwrap" id="CompetitionSpecifics5">
                <p>The proposal deadline will be on May 20th, 2026. The pitch competition will take place in the spring of 2026, but the exact date has yet to be determined.</p>
            </div>
            <hr class="split-line">
        </div>
         <div class="collapsible">
            <p class="collapsibleTitle"><label id="labelCompetitionSpecifics6" onclick="expandDiv('CompetitionSpecifics6')" style="cursor: pointer;">+</label> How do I know if I’m eligible to compete?</p>
            <div class="contentwrap" id="CompetitionSpecifics6">
                <p>If you’re a secondary school student in Canada, you’re more than welcome to participate!</p>
            </div>
            <hr class="split-line">
        </div>
    </section>

    <section id="funding">
        <div id="headerwrap-2">
            <a id="headertext-1">Funding</a>
        </div>
        <div class="collapsible">
            <p class="collapsibleTitle"><label id="labelFunding1" onclick="expandDiv('Funding1')" style="cursor: pointer;">+</label> Will we get funding?</p>
            <div class="contentwrap" id="Funding1">
                <p>Yes! Winners won’t just be recognized — they’ll receive funding to make their idea a reality and create lasting impact.</p>
            </div>
            <hr class="split-line">
        </div>
        <div class="collapsible">
            <p class="collapsibleTitle"><label id="labelFunding2" onclick="expandDiv('Funding2')" style="cursor: pointer;">+</label> What if my idea needs more than the budget?</p>
            <div class="contentwrap" id="Funding2">
                <p>No problem! While we do want you to consider the viability aspect of your plan, we also want all participants to think big!
                    If you find that your idea is ambitious and the costs exceed the budget, don't let this deter you! While we may not be able to fully fund your project, we are able to explore alternative avenues to help bring your idea to life. This includes arranging meetings with industry professionals, providing social media coverage, and assisting you in securing personal sponsors!</p>
            </div>
            <hr class="split-line">
        </div>
    </section>

    <section id="benefits">
        <div id="headerwrap-3">
            <a id="headertext-1">Benefits and Recognition</a>
        </div>
        <div class="collapsible">
            <p class="collapsibleTitle"><label id="labelBenefits1" onclick="expandDiv('Benefits1')" style="cursor: pointer;">+</label> Why should I join, and how will this benefit me?</p>
            <div class="contentwrap" id="Benefits1">
                <p>Present your pitch at our nationwide competition for the opportunity to secure funding and turn your idea into reality. The winner will not only receive financial support but also be recognized across Canada for their endeavors. Furthermore, there's a chance to be featured on our website and social media.</p>
                <p>By participating, you'll collaborate with like-minded individuals, forge new connections, and experience the meaningful impact of initiating change in your community. </p>
            </div>
            <hr class="split-line">
        </div>
        <div class="collapsible">
            <p class="collapsibleTitle"><label id="labelBenefits2" onclick="expandDiv('Benefits2')" style="cursor: pointer;">+</label> Can I use this as something to add to my post-secondary applications?</p>
            <div class="contentwrap" id="Benefits2">
                <p>Of course! Certainly! SolveXchange offers a valuable opportunity to learn and showcase your entrepreneurial skills, initiative, community action, collaboration and creativity. Participating in our competitions can provide a rich experience to enhance your applications. Feel free to connect with us on LinkedIn and add us to your profile!</p>
            </div>
            <hr class="split-line">
        </div>
    </section>

    <section id="keep-exploring">
        <div id="keep-exploring-left">
            <a class="headertext-2">Keep<br>Exploring</a>
            <a href="/getinvolved"><button type="button" class="gradient-button global-button">Get Involved → </button></a>
            <a href="/forum"><button type="button" class="gradient-button global-button">Share Your Ideas → </button></a>
            <a href="https://mail.google.com/mail/u/0/?tf=cm&fs=1&to=solvexchange.info@gmail.com&hl=en-US" target="_blank"><button type="button" class="gradient-button global-button">Contact Us → </button></a>
        </div>

        <div id="keep-exploring-right">
            <img id="keep-exploring-right-image" src="{{ url_for('static', filename='images/working-together.png') }}" >
        </div>

    </section>

    <footer id="join-wrapper">
        <hr class="white-line">
        <div id="join-body">
            <div id="join-body-l">
                <div id="join-body-l1">
                    <p id="join-body-l-1">JOIN</p>
                    <p id="join-body-l-2">SOLVEXCHANGE</p>
                    <p id="join-body-l-3">TODAY</p>
                </div>
                <p id="join-body-l-4">Join a community of inspiring youth leaders. Become the driving force behind transformative change.</p>
            </div>
            <div id="join-body-b">
                <div id="join-body-m">
                    <p id="join-body-m-1">Take Action</p>
                    <p id="join-body-m-2"><a class="white linkclass" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSduh7FjbUmMw-cd_wfcYqAT9okcFZKL6EYLEFNEd-YoRp6ufQ/viewform?usp=header">Sign Up</a></p>
                    <p id="join-body-m-3"><a class="white linkclass" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSf7dE2LwcWWHos2Zh2kMmCBFBa_sGGffRKAEe76a8WYhl7eeg/viewform?usp=header">Become an executive</a></p>
                    <p id="join-body-m-4"><a class="white linkclass" target="_blank" href="https://www.instagram.com/p/C9nvJi9PVgE/">Become a judge</a></p>
    
                </div>
                <div id="join-body-r">
                    <p id="join-body-r-0">Connect With Us</p>
                    <div id="join-body-r-1-wrap"><img id="classroom" src="{{ url_for('static', filename='images/classroom.png') }}" width="35" height="27"><p id="join-body-r-1"><a class="white linkclass" target="_blank" href="https://classroom.google.com/c/NjE4MzQ1Mjg3NDcy?cjc=2aqmjab">Classroom</a></p></div>
                    <div id="join-body-r-2-wrap"><img id="insta" src="{{ url_for('static', filename='images/insta.png') }}" width="35" height="35" ><p id="join-body-r-2"><a class="white linkclass" target="_blank" href="https://www.instagram.com/solvexchange/">@solvexchange</a></p></div>
                    <div id="join-body-r-3-wrap"><img id="linkedin" src="{{ url_for('static', filename='images/linkedin.png') }}" width="35" height="35"><p id="join-body-r-3"><a class="white linkclass" target="_blank" href="https://www.linkedin.com/in/solvexchange-irhs-3b6526288/">SolveXchange</a></p></div>
                    <div id="join-body-r-4-wrap"><img id="email" src="{{ url_for('static', filename='images/email.png') }}" width="35" height="25.68"><p id="join-body-r-4"><a class="white linkclass" target="_blank" href="https://mail.google.com/mail/u/0/?tf=cm&fs=1&to=solvexchange.info@gmail.com&hl=en-US">solvexchange gmail</a></p></div>
                </div>
            </div>
    
        </div>
        <hr class="white-line">
    </footer>
    
</div>



{% endblock %}