{% extends 'base.html' %}

{% block head %}
<title>Forum</title>
<link href="{{ url_for('static', filename='css/forum.css') }}" rel="stylesheet">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}" sizes="16x16" />
<link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<script src="{{ url_for('static', filename='js/global.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/forum.js') }}" defer></script>
<script>
    function CheckIfYoulikes(id){
        username = ""
        if (getCookie('user-info')) {
            let uncutName = getCookie('user-info').split('/')[0];
            username = uncutName.substring(1, uncutName.length);
        }
        else
        {
            return;
        }
        $.ajax({
            url: '/checkIfYoulikes',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ 'id' : id, 'username' : username}),
            success: function(response){
                if (response['result'] == 'success'){
                    const likesImg = document.getElementById(`likes-${id}`);
                    likesImgSrcString = likesImg.src;
                    likesImgSrcNewString = likesImgSrcString.substring(0, likesImgSrcString.length - 14) + response['imgSrc']
                    likesImg.src = likesImgSrcNewString;
                }
            },
            error: function(xhr, status, error) {
            }
        });
    }
</script>
<section id="top-menu">
    <div id="top-bar">
        <img id="top-logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Organization Logo">
        <div id = "top-interactables">
            <ul class = 'sidebar'>
                <li class='xbutton' onclick=hideSidebar()><a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                <li class="toplink "><a class="toplinka" href="/">Home Page</a></li>
                <li class="toplink "><a class="toplinka"href="/aboutus">About Us</a></li>
                <li class="toplink "><a class="toplinka_"href="/forum">Forum</a></li>
                <li class="toplink "><a class="toplinka"href="/resources">Resources</a></li>
                <li class="toplink "><a class="toplinka"href="/faq">FAQ</a></li>
                <li class="toplink "><a class="toplinka"href="/getinvolved">Get Involved</a></li>
                <li class="toplink "><a class="toplinka"href="/login">Log In</a></li>
            </ul>
            <ul id="normal-interactables">
                <li class="toplink hideonmobile"><a class="toplinka" href="/">Home Page</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/aboutus">About Us</a></li>
                <li class="toplink hideonmobile"><a class="toplinka_"href="/forum">Forum</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/resources">Resources</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/faq">FAQ</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/getinvolved">Get Involved</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/login">Log In</a></li>
                <li class="menubutton" onclick=showSidebar()><a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#5f6368"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
            </ul>
        </div>
    </div>
</section>
<section id="top-wrapper">
    <div id="top-title-div">
        <label id="top-title">SolveXchange Forum</label>
    </div>
    <div id="forum-slogan">
        <p>Your voice and experiences matter. Contribute to<br>your commuity by sharing your ideas.</p>
    </div>
    <button id="forum-button" class="global-button" type="button" onclick="location.href='#discussion-position'">See The Discussion</button>
</section>
<div class="divider">
    <div class="divider3"></div>
    <div class="divider1"></div>
</div>

<section id="forum-info-wrap">
    <div id="forum-info">
        <div>
            <label id="info-title">What should I share?</label>
        </div>
        <div id="info-displayed">
            <p id="ideas">Here are some ideas...</p>
            <p>What are the biggest challenges you face in your community? Is there anything in <br>particular that frustrates you?</p>
            <p>Are there any social or environmental issues in your community that concern you?</p>
            <p>What barriers do you or someone you know encounter in accessing essential <br>services in your community?</p>
            <p>What potential solutions do you envision for the challenges confronting your <br>community?</p>
        </div>
        <div>
            <p id="forum-reminder">Feel Free to reply to the comments of others.<br>Please be respectful.</p>
        </div>
    </div>
</section>
<section id="post-form">
    <form id="comment-form" action="/forum" method="POST" onsubmit="PostComment(event)">
        <div class="wrapper split">
            <div id="username">
                <p id="display-name">Not Signed in.</p>
                <input id="username-input" name="username" type="hidden" autocomplete="off" placeholder="Username...">
            </div>
        </div>
        <div id="post-topic">
            <textarea id='topic' name='topic' wrap="soft" rows="1" placeholder="&nbsp;Topic/Heading"></textarea>
        </div>
        <div id="content-div">
            <textarea id="content" wrap="soft" name="content" rows="5" placeholder="&nbsp;Type in your ideas here..."></textarea>
        </div>
        <input type="hidden" id="channel-input" name="channel" value="{{channel_id}}">
       <div id="post-button">
            <input id="post-submit" type="submit" value="POST">
        </div>
    </form>
</section>
<a id="discussion-position"></a>
<div id="discussion-div">
    <label id="discussion">Discussions</label>
    <hr class="discussion-line">
</div>
<section id="comments">
    {% for comment in comments %}
    <div class="post">
        <div class="post-metadata">
            Posted {{ comment.time_posted | calculate_time }} ago
        </div>
        <div class="post-content-by">
            <a class="post-username">{{ comment.username }}</a>
        </div>
        <p class="post-content-topic">
            {{ comment.topic }}
        </p>
        <p class="post-content">
            {{ comment.content | replace('\r\n', '<br>') | safe }}
        </p>
        <div>
            <div class="comments-nav">
                <img id="likes-{{comment.id}}" src="{{ url_for('static', filename='images/likes-grey.png') }}" height="30" onclick="AddLike('{{comment.id}}')"> <label id="like-count-{{comment.id}}">{{comment.likecount}}</label>
                &nbsp;&nbsp;
                <img id="replies" src="{{ url_for('static', filename='images/replies.png') }}" height="30" onclick="ToggleReplies('{{comment.id}}')"> <label id="reply-count-{{comment.id}}">{{ replyCountDict[comment.id] }}</label>
                <div id="add-replies-div-{{comment.id}}" class="hcenter">
                    <div id="reply-button-{{comment.id}}" class="reply-button">
                        <form id="reply-form-{{comment.id}}" class="reply-form" onsubmit="AddReply('{{comment.id}}', event)">
                            <input type="text" id="reply-input-{{comment.id}}" class="reply-input" style="width:100%;text-align:left;" autocomplete="off" placeholder="">
                            <input type="submit" id="reply-submit-{{comment.id}}" class="reply-submit" value=">" style="opacity:0;border-radius:50%;width:1rem;height:1rem;text-align:center;line-height:.2rem;background-color: white;">
                        </form>
                        <label id="add-label-{{comment.id}}" class="add-label" for="add-reply-{{comment.id}}"></label>
                        <img id="add-reply" src="{{ url_for('static', filename='images/add-reply.png') }}" height="30" onclick="ToggleReplyInput('{{comment.id}}')">
                        <input id="add-reply-{{comment.id}}" type="submit" value="Post Reply">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div id="post-footer-{{comment.id}}" class="post-footer">
            <div id="replies-{{comment.id}}" class="replies" data-displayed="no" data-replies-loaded="no">
                <div class="wrapper">
                </div>
            </div>
        </div>
    </div>
    <script>
        CheckIfYoulikes('{{comment.id}}');
    </script>
    {% endfor %}
</section>

<footer id="join-wrapper">
    <hr class="white-line">
    <div id="join-body">
        <div id="join-body-l">
            <div id="join-body-l1">
                <p id="join-body-l-1">JOIN</p>
                <p id="join-body-l-2">SOLVEXCHANGE</p>
                <p id="join-body-l-3">TODAY</p>
            </div>
            <p id="join-body-l-4">Join a community of inspiring youth leaders. Become the driving force behind transformative change.</p>
        </div>
        <div id="join-body-b">
            <div id="join-body-m">
                <p id="join-body-m-1">Take Action</p>
                <p id="join-body-m-2"><a class="white linkclass" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSduh7FjbUmMw-cd_wfcYqAT9okcFZKL6EYLEFNEd-YoRp6ufQ/viewform?usp=header">Sign Up</a></p>
                <p id="join-body-m-3"><a class="white linkclass" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSf7dE2LwcWWHos2Zh2kMmCBFBa_sGGffRKAEe76a8WYhl7eeg/viewform?usp=header">Become an executive</a></p>
                <p id="join-body-m-4"><a class="white linkclass" target="_blank" href="https://www.instagram.com/p/C9nvJi9PVgE/">Become a judge</a></p>

            </div>
            <div id="join-body-r">
                <p id="join-body-r-0">Connect With Us</p>
                <div id="join-body-r-1-wrap"><img id="classroom" src="{{ url_for('static', filename='images/classroom.png') }}" width="35" height="27"><p id="join-body-r-1"><a class="white linkclass" target="_blank" href="https://classroom.google.com/c/NjE4MzQ1Mjg3NDcy?cjc=2aqmjab">Classroom</a></p></div>
                <div id="join-body-r-2-wrap"><img id="insta" src="{{ url_for('static', filename='images/insta.png') }}" width="35" height="35" ><p id="join-body-r-2"><a class="white linkclass" target="_blank" href="https://www.instagram.com/solvexchange/">@solvexchange</a></p></div>
                <div id="join-body-r-3-wrap"><img id="linkedin" src="{{ url_for('static', filename='images/linkedin.png') }}" width="35" height="35"><p id="join-body-r-3"><a class="white linkclass" target="_blank" href="https://www.linkedin.com/in/solvexchange-irhs-3b6526288/">SolveXchange</a></p></div>
                <div id="join-body-r-4-wrap"><img id="email" src="{{ url_for('static', filename='images/email.png') }}" width="35" height="25.68"><p id="join-body-r-4"><a class="white linkclass" target="_blank" href="https://mail.google.com/mail/u/0/?tf=cm&fs=1&to=solvexchange.info@gmail.com&hl=en-US">solvexchange gmail</a></p></div>
            </div>
        </div>

    </div>
    <hr class="white-line">
</footer>



{% endblock %}