{% extends 'base.html' %}

{% block head %}
<title>Get Involved</title>
<link href="{{ url_for('static', filename='css/getinvolved.css') }}" rel="stylesheet">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}" sizes="16x16" />
<link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}
<section id="top-menu">
    <div id="top-bar">
        <img id="top-logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Organization Logo">
        <div id = "top-interactables">
            <ul class = 'sidebar'>
                <li class='xbutton' onclick=hideSidebar()><a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                <li class="toplink "><a class="toplinka" href="/">Home Page</a></li>
                <li class="toplink "><a class="toplinka"href="/aboutus">About Us</a></li>
                <li class="toplink "><a class="toplinka"href="/forum">Forum</a></li>
                <li class="toplink "><a class="toplinka"href="/resources">Resources</a></li>
                <li class="toplink "><a class="toplinka"href="/faq">FAQ</a></li>
                <li class="toplink "><a class="toplinka_"href="/getinvolved">Get Involved</a></li>
                <li class="toplink "><a class="toplinka"href="/login">Log In</a></li>
            </ul>
            <ul id="normal-interactables">
                <li class="toplink hideonmobile"><a class="toplinka" href="/">Home Page</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/aboutus">About Us</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/forum">Forum</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/resources">Resources</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/faq">FAQ</a></li>
                <li class="toplink hideonmobile"><a class="toplinka_"href="/getinvolved">Get Involved</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/login">Log In</a></li>
                <li class="menubutton" onclick=showSidebar()><a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#5f6368"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
            </ul>
        </div>
    </div>
</section>

<section id="top-wrapper">
    <div id="top-title-div">
        <label id="top-title">Get Involved</label>
    </div>
    <div id="getinvolved-slogan">
        <p>You can contribute to SolveXchange in numerous ways, helping to inspire transformative change and enhance the lives of others in your community.</p>
    </div>
</section>

<div class="divider">
    <div class="divider3"></div>
    <div class="divider1"></div>
</div>

<section id="ways-info">
    <div id="ways-info-title">
        <label>Ways You Can Get Involved</label>
    </div>
    <div id="ways-info-displayed">
        <div id="ways-extra-info">
            <div id="ways-extra-format1">
                <div class="ways-img"><img src="{{ url_for('static', filename='images/ShareYourIdeas.png') }}" height="131"></div>
                <label class="ways-extra-info-subtitle">Share Your Ideas</label>
                <div class="ways-extra-info-subtext">
                    <p>Join in an ongoing discussion to share your ideas for improving various aspects of your community. Learn about your peers' experiences and contribute your thoughts to a live forum. </p>
                </div>
            </div>
            <div id="ways-extra-format2">
                <div class="ways-img"><img src="{{ url_for('static', filename='images/EnterTheCompetition.png') }}" height="131"></div>
                <label class="ways-extra-info-subtitle">Enter the Competition</label>
                <div class="ways-extra-info-subtext">
                    <p>Have an idea to fix an issue you see in your community? Sign up to enter this Canada-wide competition and get the chance to bring your idea to life with real implementation.</p>
                </div>
            </div>
            <div id="ways-extra-format3">
                <div class="ways-img"><img src="{{ url_for('static', filename='images/BecomeAnExecutive.png') }}" height="131"></div>
                <label class="ways-extra-info-subtitle">Become an Executive</label>
                <div class="ways-extra-info-subtext">
                    <p>Apply to become a part of our executive team and play a pivotal role in the operational framework of SolveXchange.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="forum-reminder">
        <p>Feel Free to reply to the comments of others. Please be respectful.</p>
    </div>
</section>


<section id="second-wrapper">
<a id="startachapter-position"></a>
    <div id="second-wrapper-left">
        <div>
            <label class="second-wrapper-subtitle">Become a Judge</label>
        </div>
        <div class="second-wrapper-subtext">
            <p class="line-height-35">Help us inspire the next generation of changemakers! As a judge, you’ll listen to student pitches from across Canada and provide feedback using our judging criteria. Interested? Email us at solvexchange.info@gmail.com to get involved.</p>
        </div>
        <div id="sponsor">
            <label class="second-wrapper-subtitle">Sponsor Our Initiative</label>
        </div>
        <div class="second-wrapper-subtext">
            <p class="line-height-35">SolveXchange presents a unique opportunity to align your brand with a socially impactful cause, gaining exposure while contributing to positive change. Play an integral role in bringing students' ideas to life, by supporting and empowering future leaders to inspire change throughout Canada.</p>
        </div>
        <div id="second-wrapper-bottom-block">
            <div id="second-wrapper-email">
                <label>Reach out to us through email:</label>
            </div>
            <a target="_blank" href="https://mail.google.com/mail/u/0/?tf=cm&fs=1&to=solvexchange.info@gmail.com&hl=en-US"><button id="email-button" class="global-button" type="button"><img src="{{ url_for('static', filename='images/email-button.jpg') }}" width="40"> <span id="email-text">solvexchange.info@gmail.com</span></button></a>
        </div>
    </div>
    <div id="second-wrapper-right">
        <img id="img-displayed" src="{{ url_for('static', filename='images/hands-together.jpg') }}" width="800">
    </div>
</section>

<section class="third-wrapper">
    <div class="third-wrapper-div">
        <label class="third-wrapper-title">Share Your Ideas</label>
        <div class="third-wrapper-subtext">
            <p class="line-height-35">What issues do you find present within your community? Have you thought of a solution to a problem you experience on a day-to-day basis? Share your ideas through a Canada-wide forum to hear the opinions of others, and further expand your plan. See what others have to share and collaborate with your peers!</p>
        </div>
        <a href="/forum"><button class="third-wrapper-button global-button" type="button">See the Forum</button></a>
    </div>
</section>

<section class="third-wrapper">
    <div class="third-wrapper-div">
        <label class="third-wrapper-title">Enter the Competition</label>
        <div class="third-wrapper-subtext">
            <p class="line-height-35">Learn how to craft a compelling pitch and effectively share your idea through detailed resources available on our website. Access training materials to help you refine your pitch, submit your idea, and set yourself up for success in the competition.</p>
        </div>
        <div class="third-wrapper-expand">
            <p><label id="labeleligibility" onclick="expandDiv('eligibility')">+</label> Eligibility</p>
            <div class="third-wrapper-expandtext" id="eligibility">
                <li>Must be a student attending a high school in Canada</li>
                <li>Within the grades of 9-12</li>
                <li>Can be completed individually or in small groups (1-4 people)</li>
            </div>
            <p><label id="labelrubricCriteria" onclick="expandDiv('rubricCriteria')">+</label> Rubric Criteria</p>
            <div class="third-wrapper-expandtext" id="rubricCriteria">
                <span class="third-wrapper-expandsubtext">You will be graded based off:</span>
                <li>Feasibility/Viability</li>
                <li>Creativity/Innovative</li>
                <li>Professionalism</li>
                <li>Value of Proposition (benefits and impact)</li>
                <li>Sustainability</li>
                <li>Clarity</li>
                <li>Visual Appeal</li>
                <li>Implementation Plan</li>
                <br>
            </div>
        </div>
        <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSduh7FjbUmMw-cd_wfcYqAT9okcFZKL6EYLEFNEd-YoRp6ufQ/viewform?usp=header"><button class="third-wrapper-button global-button" type="button">Sign Up</button></a>
    </div>
</section>

<section class="third-wrapper">
    <div class="third-wrapper-div">
        <label class="third-wrapper-title">Become an Executive</label>
        <div class="third-wrapper-subtext">
            <p class="line-height-35">Share your passion for our goals, and contribute your ideas to improve SolveXchange within our community. Join our executive team to support and empower youth across Canada, and provide an accessible platform to voice their concerns. Get the opportunity to work alongside like-minded, passionate individuals and create a difference in your community!</p>
        </div>
        <div class="third-wrapper-expand">
            <p><label id="labelpositions" onclick="expandDiv('positions')">+</label> Positions</p>
            <div class="third-wrapper-expandtext" id="positions">
                <span class="third-wrapper-expandsubtext">Below are available positions if you are interested in becoming a part of the executive team:</span>
                <li>Director of Outreach</li>
                <li>Director of Operations</li>
                <li>Director of Training</li>
                <li>Director of Marketing</li>
                <li>Tech Team</li>
                <br>
            </div>
        </div>
        <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSf7dE2LwcWWHos2Zh2kMmCBFBa_sGGffRKAEe76a8WYhl7eeg/viewform?usp=header"><button class="third-wrapper-button global-button" type="button">Apply Now</button></a>
    </div>
</section>
<section id="forth-wrapper">
    <div id="forth-wrapper-inner">
        <div>
            <label id="forth-wrapper-subtitle">Enter the Competition</label>
            <p id="forth-wrapper-subtitle2">How to enter our pitch contest for a chance to win prize money</p>
            <p class="forth-wrapper-subtext"><b>1.</b>&nbsp;&nbsp;Sign up to confirm your commitment to participating.</p>
            <p class="forth-wrapper-subtext"><b>2.</b>&nbsp;&nbsp;Attend our virtual, monthly seminars through the google classroom to receive guidance on creating your pitch, proposing a solution to a problem in your<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;community. After each session, you will have to submit a monthly progress report to our Director of Training.</p>
            <p class="forth-wrapper-subtext"><b>3</b>&nbsp;&nbsp;Refine your pitch.</p>
            <p class="forth-wrapper-subtext"><b>4.</b>&nbsp;&nbsp;Submit an overview of your pitch to our Director of Training in May.</p>
            <p class="forth-wrapper-subtext"><b>5.</b>&nbsp;&nbsp;Practice presenting your idea.</p>
            <p class="forth-wrapper-subtext"><b>6.</b>&nbsp;&nbsp;Attend our pitch contest, bringing confidence and energy for a chance to win money to support you in actually implementing your solution!</p>
            <p class="forth-wrapper-subtext">&nbsp;</p>
        </div>
    </div>
</section>

<section class="fifth-wrapper">
    <div class="fifth-wrapper-div">
        <div>
            <label class="fifth-wrapper-title">Got Any Questions?</label>
            <div class="third-wrapper-subtext">
                <p>Send us an email or DM! Visit our FAQ page to explore commonly asked questions. </p>
            </div>
        </div>
        <div>
            <a href="/faq"><button id="qa-button"  class="global-button" type="button">FAQ</button></a>
        </div>
    </div>
</section>
<footer id="join-wrapper">
    <hr class="white-line">
    <div id="join-body">
        <div id="join-body-l">
            <div id="join-body-l1">
                <p id="join-body-l-1">JOIN</p>
                <p id="join-body-l-2">SOLVEXCHANGE</p>
                <p id="join-body-l-3">TODAY</p>
            </div>
            <p id="join-body-l-4">Join a community of inspiring youth leaders. Become the driving force behind transformative change.</p>
        </div>
        <div id="join-body-b">
            <div id="join-body-m">
                <p id="join-body-m-1">Take Action</p>
                <p id="join-body-m-2"><a class="white linkclass" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSduh7FjbUmMw-cd_wfcYqAT9okcFZKL6EYLEFNEd-YoRp6ufQ/viewform?usp=header">Sign Up</a></p>
                <p id="join-body-m-3"><a class="white linkclass" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSf7dE2LwcWWHos2Zh2kMmCBFBa_sGGffRKAEe76a8WYhl7eeg/viewform?usp=header">Become an executive</a></p>
                <p id="join-body-m-4"><a class="white linkclass" target="_blank" href="https://www.instagram.com/p/C9nvJi9PVgE/">Become a judge</a></p>

            </div>
            <div id="join-body-r">
                <p id="join-body-r-0">Connect With Us</p>
                <div id="join-body-r-1-wrap"><img id="classroom" src="{{ url_for('static', filename='images/classroom.png') }}" width="35" height="27"><p id="join-body-r-1"><a class="white linkclass" target="_blank" href="https://classroom.google.com/c/NjE4MzQ1Mjg3NDcy?cjc=2aqmjab">Classroom</a></p></div>
                <div id="join-body-r-2-wrap"><img id="insta" src="{{ url_for('static', filename='images/insta.png') }}" width="35" height="35" ><p id="join-body-r-2"><a class="white linkclass" target="_blank" href="https://www.instagram.com/solvexchange/">@solvexchange</a></p></div>
                <div id="join-body-r-3-wrap"><img id="linkedin" src="{{ url_for('static', filename='images/linkedin.png') }}" width="35" height="35"><p id="join-body-r-3"><a class="white linkclass" target="_blank" href="https://www.linkedin.com/in/solvexchange-irhs-3b6526288/">SolveXchange</a></p></div>
                <div id="join-body-r-4-wrap"><img id="email" src="{{ url_for('static', filename='images/email.png') }}" width="35" height="25.68"><p id="join-body-r-4"><a class="white linkclass" target="_blank" href="https://mail.google.com/mail/u/0/?tf=cm&fs=1&to=solvexchange.info@gmail.com&hl=en-US">solvexchange gmail</a></p></div>
            </div>
        </div>

    </div>
    <hr class="white-line">
</footer>

<script src="{{ url_for('static', filename='js/getinvolved.js') }}" defer></script>
{% endblock %}