{% extends 'basenocss.html' %}

<!-- {% block lHeader %}
{% endblock %}
{% block cHeader %}
{% endblock %}
{% block rHeader %}
{% endblock %}
 -->

{% block head %}
<title>Homepage</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="color-scheme" content="light only" />
<meta name="description" content="SolveXChange Homepage" />
<meta property="og:site_name" content="SolveXChange" />
<meta property="og:title" content="SolveXChange" />
<meta property="og:type" content="website" />
<meta property="og:description" content="" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- <link rel="stylesheet" href="style.css" /> -->
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}" sizes="16x16" />
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/index.js') }}" defer></script>

{% endblock %}

{% block body %}
<div id="everything">
    <div id="top-bar">
        <img id="top-logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Organization Logo">
        <div id = "top-interactables">
            <ul class = 'sidebar'>
                <li class='xbutton' onclick=hideSidebar()><a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                <li class="toplink "><a class="toplinka_" href="/">Home Page</a></li>
                <li class="toplink "><a class="toplinka"href="/aboutus">About Us</a></li>
                <li class="toplink "><a class="toplinka"href="/forum">Forum</a></li>
                <li class="toplink "><a class="toplinka"href="/resources">Resources</a></li>
                <li class="toplink "><a class="toplinka"href="/faq">FAQ</a></li>
                <li class="toplink "><a class="toplinka"href="/getinvolved">Get Involved</a></li>
                <li class="toplink "><a class="toplinka"href="/login">Log In</a></li>
            </ul>
            <ul id="normal-interactables">
                <li class="toplink hideonmobile"><a class="toplinka_" href="/">Home Page</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/aboutus">About Us</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/forum">Forum</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/resources">Resources</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/faq">FAQ</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/getinvolved">Get Involved</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/login">Log In</a></li>
                <li class="menubutton" onclick=showSidebar()><a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#5f6368"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
            </ul>
        </div>
    </div>
    <div id="topwrapper">
        <div id="leftwrappertop">
            <p id="headertext">SolveXchange</p>
            <p id="subtitletext">Turning Vision into Reality, One Pitch at a Time</p>
            <a href="/aboutus"><button type="button" class="global-button" id="aboutus-button">ABOUT US</button></a>

        </div>

        <img id="earth" draggable="false" src="{{ url_for('static', filename='images/earth.png') }}">

    </div>
    <div class="divider">
        <div class="divider1"></div>
        <div class="divider2"></div>
    </div>
    <div id="lowertop">
        <div id="lowertopwrap">
            <div id="innovate-sector">
                <div id="innovate-text-section">
                    <p class="style1-header-text">Innovate</p>
                    <p class="style1-desc-text">Students spark novel ideas and approaches by creating inventive solutions and utilizing problem-solving and creative thinking skills.</p>
                    <div class="style1-button-wrapper"><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSduh7FjbUmMw-cd_wfcYqAT9okcFZKL6EYLEFNEd-YoRp6ufQ/viewform?usp=header"><button type="button" class="style1-button">Join now <img class="style1-right-arrow" draggable="false "src="{{ url_for('static', filename='images/right-arrow.png') }}"> </button></a></div>
                </div>
                <img class="style1-round-image" draggable="false"src="{{ url_for('static', filename='images/lightbulb.png') }}">
            </div>
            <div id="impact-sector">
                <img class="style1-round-image" draggable="false" src="{{ url_for('static', filename='images/hand.png') }}">
                <div id="impact-text-section">
                    <p class="style2-header-text">Impact</p>
                    <p class="style2-desc-text">Students make a tangible impact by implementing sustainable solutions that address real-world challenges in their communities.</p>
                    <div class="style2-button-wrapper"><a href="/resources"><button type="button" class="style1-button">Resources<img class="style1-right-arrow" draggable="false "src="{{ url_for('static', filename='images/right-arrow.png') }}"> </button></a></div>
                </div>

            </div>

            <div id="inspire-sector">
                <div id="inspire-text-section">
                    <p class="style1-header-text">Inspire</p>
                    <p class="style1-desc-text">Students inspire others by demonstrating dedication in serving their community, and motivating peers to contribute to change.</p>
                    <div class="style1-button-wrapper"><a href="/forum"><button type="button" class="style1-button">Share ideas <img class="style1-right-arrow" draggable="false "src="{{ url_for('static', filename='images/right-arrow.png') }}"> </button></a></div>
                </div>
                <img class="style1-round-image" draggable="false" src="{{ url_for('static', filename='images/mic.png') }}">
            </div>
        </div>
    </div>
    <div class="divider">
        <div class="divider3"></div>
        <div class="divider1"></div>
    </div>
    <div id="quotewrap">
        <div id="quotesection">
            <img id="image-quote" draggable="false" src="{{ url_for('static', filename='images/quote.png') }}">
            <div id="quote-text-wrapper"><p id="quote-text">“I’ve always heard students casually throw around valuable ideas to improve our community. Unfortunately, many of these ideas are often disregarded because students lack a platform to bring them to life. This became the main inspiration behind SolveXchange, to create an accessible platform with a focus on empowering students to become the driving force behind transformative change.”</p></div>
            <div id="quote-author-wrapper"><p id="author-text">- SolveXchange Founders</p></div>
            <div id="image-quote-bottom-wrapper"><img id="image-quote-bottom" draggable="false" src="{{ url_for('static', filename='images/quote.png') }}"></div>
        </div>
    </div>
    <div class="divider">
        <div class="divider1"></div>
        <div class="divider2"></div>
    </div>
    <div id="lowerbottom">
        <div id="lowerbottomwrap">

            <div id="lowerbottomtextwrap">
                <p id="lowerbottomheader">SUCCESS STORIES</p>
                <p id="lowerbottomdesc"><em>It all begins with an idea.</em></p>
            </div>
            <div id="carousel-wrapper">

                <div class="carousel-track-container"> <!-- stock-ticker-->
                    <div class="carousel-track">
                        <img class="carousel-image" src="{{ url_for('static', filename='images/slide1.png') }}">

                        <img class="carousel-image" src="{{ url_for('static', filename='images/slide2.png') }}">

                        <img class="carousel-image" src="{{ url_for('static', filename='images/slide3.png') }}">

                        <img class="carousel-image"  src="{{ url_for('static', filename='images/slide4.png') }}">

                        <img class="carousel-image" src="{{ url_for('static', filename='images/slide5.png') }}">

                        <img class="carousel-image" src="{{ url_for('static', filename='images/slide6.png') }}">


                    </div>

                    <div class="carousel-track">
                        <img class="carousel-image" src="{{ url_for('static', filename='images/slide1.png') }}">

                        <img class="carousel-image" src="{{ url_for('static', filename='images/slide2.png') }}">

                        <img class="carousel-image" src="{{ url_for('static', filename='images/slide3.png') }}">

                        <img class="carousel-image"  src="{{ url_for('static', filename='images/slide4.png') }}">

                        <img class="carousel-image" src="{{ url_for('static', filename='images/slide5.png') }}">

                        <img class="carousel-image" src="{{ url_for('static', filename='images/slide6.png') }}">


                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="divider">
        <div class="divider3"></div>
        <div class="divider1"></div>
    </div>

    <section id="extra-wrapper-parent"></section>
    <div id="extra-wrapper">
        <div class="extra-title-div">
            <label id="extra-title">Inspired? Take Action Today!</label>
        </div>
        <div id="extra-info">
            <div class="extra-format">
                <label class="extra-info-subtitle">Our Competition</label>
                <div class="extra-info-subtext">
                    <p>Join SolveXchange and work alongside other inspired youth to develop your innovative ideas. Submit your proposal to our competition for a chance to win SolveXchange support, gain recognition and bring your idea to reality.</p>
                </div>
            </div>
            <div class="extra-format">
                <label class="extra-info-subtitle">Become a Judge</label>
                <div class="extra-info-subtext">
                    <p>Interested in shaping the next generation of innovators? Email us at solvexchange.info@gmail.com if you are interested in becoming a judge for our next pitch contest! You’ll get to hear students’ entrepreneurial ideas and evaluate them using our set criteria.</p>
                </div>
                <a href="/getinvolved"><button class="global-button"  id="getinvolved-button2" type="button">Get Involved</button></a>
            </div>
            <div class="extra-format">
                <label class="extra-info-subtitle">Join Our Exec Team</label>
                <div class="extra-info-subtext">
                    <p>Are you passionate about the same goals we are? Do you possess skills or ideas that could improve SolveXchange? Join our executive team as we work together towards empowering more youth.</p>
                </div>
            </div>
        </div>
    </div>
    </section>
    <div id="lowermorebottom">
        <div id="lowermorebottomleft">
            <p id="lmbl_header">Are you interested?</p>
            <p id="lmbl_desc">Sign up to be a part of SolveXchange today or share your ideas on a nationwide forum!</p>
            <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSduh7FjbUmMw-cd_wfcYqAT9okcFZKL6EYLEFNEd-YoRp6ufQ/viewform?usp=header"><button type="button" class="button-style2 global-button">Join Now</button></a>
            <a href="/forum"><button type="button" class="button-style2 global-button">Share Ideas</button></a>
        </div>
        <img id="filler-image" draggable="false" src="{{ url_for('static', filename='images/filler.png') }}">
    </div>

</div>
<footer id="join-wrapper">
    <hr class="white-line">
    <div id="join-body">
        <div id="join-body-l">
            <div id="join-body-l1">
                <p id="join-body-l-1">JOIN</p>
                <p id="join-body-l-2">SOLVEXCHANGE</p>
                <p id="join-body-l-3">TODAY</p>
            </div>
            <p id="join-body-l-4">Join a community of inspiring youth leaders. Become the driving force behind transformative change.</p>
        </div>
        <div id="join-body-b">
            <div id="join-body-m">
                <p id="join-body-m-1">Take Action</p>
                <p id="join-body-m-2"><a class="white linkclass" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSduh7FjbUmMw-cd_wfcYqAT9okcFZKL6EYLEFNEd-YoRp6ufQ/viewform?usp=header">Sign Up</a></p>
                <p id="join-body-m-3"><a class="white linkclass" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSf7dE2LwcWWHos2Zh2kMmCBFBa_sGGffRKAEe76a8WYhl7eeg/viewform?usp=header">Become an executive</a></p>
                <p id="join-body-m-4"><a class="white linkclass" target="_blank" href="https://www.instagram.com/p/C9nvJi9PVgE/">Become a judge</a></p>

            </div>
            <div id="join-body-r">
                <p id="join-body-r-0">Connect With Us</p>
                <div id="join-body-r-1-wrap"><img id="classroom" src="{{ url_for('static', filename='images/classroom.png') }}" width="35" height="27"><p id="join-body-r-1"><a class="white linkclass" target="_blank" href="https://classroom.google.com/c/NjE4MzQ1Mjg3NDcy?cjc=2aqmjab">Classroom</a></p></div>
                <div id="join-body-r-2-wrap"><img id="insta" src="{{ url_for('static', filename='images/insta.png') }}" width="35" height="35" ><p id="join-body-r-2"><a class="white linkclass" target="_blank" href="https://www.instagram.com/solvexchange/">@solvexchange</a></p></div>
                <div id="join-body-r-3-wrap"><img id="linkedin" src="{{ url_for('static', filename='images/linkedin.png') }}" width="35" height="35"><p id="join-body-r-3"><a class="white linkclass" target="_blank" href="https://www.linkedin.com/in/solvexchange-irhs-3b6526288/">SolveXchange</a></p></div>
                <div id="join-body-r-4-wrap"><img id="email" src="{{ url_for('static', filename='images/email.png') }}" width="35" height="25.68"><p id="join-body-r-4"><a class="white linkclass" target="_blank" href="https://mail.google.com/mail/u/0/?tf=cm&fs=1&to=solvexchange.info@gmail.com&hl=en-US">solvexchange gmail</a></p></div>
            </div>
        </div>

    </div>
    <hr class="white-line">
</footer>


{% endblock %}