{% extends 'basenocss.html' %}

<!-- {% block lHeader %}
{% endblock %}
{% block cHeader %}
{% endblock %}
{% block rHeader %}
{% endblock %}
 -->

{% block head %}
<title>Register</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="color-scheme" content="light only" />
<meta name="description" content="SolveXChange Homepage" />
<meta property="og:site_name" content="SolveXChange" />
<meta property="og:title" content="SolveXChange" />
<meta property="og:type" content="website" />
<meta property="og:description" content="" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- <link rel="stylesheet" href="style.css" /> -->
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}" sizes="16x16" />
<link href="{{ url_for('static', filename='css/register.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}
<div id="everything">
    <div id="top-bar">
        <a href="/">
            <img id="top-logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Organization Logo">
        </a>
        <div id = "top-interactables">
            <ul class = 'sidebar'>
                <li class='xbutton' onclick=hideSidebar()><a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                <li class="toplink "><a class="toplinka" href="/">Home Page</a></li>
                <li class="toplink "><a class="toplinka"href="/aboutus">About Us</a></li>
                <li class="toplink "><a class="toplinka"href="/forum">Forum</a></li>
                <li class="toplink "><a class="toplinka"href="/resources">Resources</a></li>
                <li class="toplink "><a class="toplinka"href="/faq">FAQ</a></li>
                <li class="toplink "><a class="toplinka"href="/getinvolved">Get Involved</a></li>
                <li class="toplink "><a class="toplinka_"href="/login">Log In</a></li>
            </ul>
            <ul id="normal-interactables">
                <li class="toplink hideonmobile"><a class="toplinka" href="/">Home Page</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/aboutus">About Us</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/forum">Forum</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/resources">Resources</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/faq">FAQ</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/getinvolved">Get Involved</a></li>
                <li class="toplink hideonmobile"><a class="toplinka_"href="/login">Log In</a></li>
                <li class="menubutton" onclick=showSidebar()><a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#5f6368"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="vcenter-fstretch">
    <form id="main" onsubmit="verify(event)">
        <h1>Register</h1>
        Create a new account!<br>
        <div id="box-wrapper">
            <div id="error-box"></div>
            <div id="success-box"></div>
            <div class="text-input">
                <input type="text" id="email-input" placeholder="Email" autocomplete="off" spellcheck="false"><br>
            </div>
            <input id='verify-button' type="submit" value="Verify!">
        </div>
    </form>
</div>

<script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}