{% extends 'basenocss.html' %}

<!-- {% block lHeader %}
{% endblock %}
{% block cHeader %}
{% endblock %}
{% block rHeader %}
{% endblock %}
 -->

{% block head %}
<title>Resources</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="color-scheme" content="light only" />
<meta name="description" content="SolveXchange Resources" />
<meta property="og:site_name" content="SolveXchange" />
<meta property="og:title" content="SolveXchange" />
<meta property="og:type" content="website" />
<meta property="og:description" content="" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- <link rel="stylesheet" href="style.css" /> -->
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}" sizes="16x16" />
<link href="{{ url_for('static', filename='css/resources.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/resources.js') }}"></script>
<link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet">


{% endblock %}

{% block body %}
<div id="everything">
    <div id="top-bar">
        <img id="top-logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Organization Logo">
        <div id = "top-interactables">
            <ul class = 'sidebar'>
                <li class='xbutton' onclick=hideSidebar()><a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                <li class="toplink "><a class="toplinka" href="/">Home Page</a></li>
                <li class="toplink "><a class="toplinka"href="/aboutus">About Us</a></li>
                <li class="toplink "><a class="toplinka"href="/forum">Forum</a></li>
                <li class="toplink "><a class="toplinka_"href="/resources">Resources</a></li>
                <li class="toplink "><a class="toplinka"href="/faq">FAQ</a></li>
                <li class="toplink "><a class="toplinka"href="/getinvolved">Get Involved</a></li>
                <li class="toplink "><a class="toplinka"href="/login">Log In</a></li>
            </ul>
            <ul id="normal-interactables">
                <li class="toplink hideonmobile"><a class="toplinka" href="/">Home Page</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/aboutus">About Us</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/forum">Forum</a></li>
                <li class="toplink hideonmobile"><a class="toplinka_"href="/resources">Resources</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/faq">FAQ</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/getinvolved">Get Involved</a></li>
                <li class="toplink hideonmobile"><a class="toplinka"href="/login">Log In</a></li>
                <li class="menubutton" onclick=showSidebar()><a href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#5f6368"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
            </ul>
        </div>
    </div>
    <section id="topportion">
        <p id="headertext">Resources</p>
        <p id="desctext">Explore weekly slideshows and lessons designed to enhance your<br>proposal submission for the competition, empowering you with<br>essential knowledge and strategies for success.</p>
    </section>
    <div class="divider">
        <div class="divider3"></div>
        <div class="divider1"></div>
    </div>
    <section id="mainbody">
        <section id="updates">
            <p id="updatesheadertext">Most Recent Updates</p>
            <div class="lessoncontainer lesson1">
                <div class='numwrap'><p class="lessonnum">1</p></div>
                <div class='detailwrap'><p class="lessondetails"><strong>Week 4:</strong> Building a Business Proposal</p></div>
                <div class="lessonwrap"><a href="https://docs.google.com/presentation/d/1uevSJYok4rFTejS3wKC-4nRpUFvxjQ8Kh0FTmEU997k/edit#slide=id.gc6c548e9cb_0_0" class="findthelesson-link linkclass"><p class="findthelesson">FIND THE LESSON</p></a></div>
            </div>
            <div class="lessoncontainer lesson2">
                <div class='numwrap'><p class="lessonnum">2</p></div>
                <div class='detailwrap'><p class="lessondetails"><strong>Week 5:</strong> Budget and Finance</p></div>
                <div class="lessonwrap"><a href="https://docs.google.com/presentation/d/19TTLZ8t-UOptR5YmF-eiVuWus7boo03efd9gfyDKnNo/edit#slide=id.ga00a88a2fe_0_377" class="findthelesson-link linkclass"><p class="findthelesson">FIND THE LESSON</p></a></div>
            </div>
            <div class="lessoncontainer lesson3">
                <div class='numwrap'><p class="lessonnum">3</p></div>
                <div class='detailwrap'><p class="lessondetails"><strong>Week 6:</strong> Marketing Your Idea</p></div>
                <div class="lessonwrap"><a href="https://docs.google.com/presentation/d/1cDkx4JsBWvCsIR--ehQG3cneQvGLx1DQxd7SAyrDIPo/edit#slide=id.p" class="findthelesson-link linkclass"><p class="findthelesson">FIND THE LESSON</p></a></div>
            </div>

        </section>
    </section>
    <section id="lessons">
        <p id="lessonsheadertext">Lessons</p>
        <hr class="line">
        <div id="presentationcontainer">
            <div class="presentationwrap">
                <img class="ptb" src="{{ url_for('static', filename='images/lesson0.png') }}">
                <hr class="presentationimagedivider">
                <p class = "pnum"><em>Lesson 0</em></p>
                <a class="linkclass" href="https://docs.google.com/presentation/d/1c9L6FAKbc1HbSy3ddeBd95Xu_Eg1KT9DjUv_uu7BDn4/edit#slide=id.g129635d4b2e_0_0">
                <p class = "ptitle ">Welcome to SolveXchange</p>
                </a>
                <p class = "pdesc">Learn more about SolveXchange, the rules and guidelines of the competition and understand the full judging criteria. </p>
                <p class="pdate ">March 19, 2024</p>
            </div>
            <div class="presentationwrap">
                <img class="ptb" src="{{ url_for('static', filename='images/lesson1.png') }}">
                <hr class="presentationimagedivider">
                <p class = "pnum"><em>Lesson 1</em></p>
                <a class="linkclass" href="https://docs.google.com/presentation/d/1t9c-N9s1yoTeXVZc5-1Oxqy7PNOyWyGQz3LAK5ZnBt0/edit#slide=id.g129635d4b2e_0_0">
                <p class = "ptitle">Brainstorming & Idea Generation</p>
                </a>
                <p class = "pdesc">Introduction to the basics of brainstorming and building your ideas through activities such as mind mapping.</p>
                <p class="pdate">March 26, 2024</p>
            </div>
            <div class="presentationwrap">
                <img class="ptb" src="{{ url_for('static', filename='images/lesson2.png') }}">
                <hr class="presentationimagedivider">
                <p class = "pnum"><em>Lesson 2</em></p>
                <a class="linkclass" href="https://docs.google.com/presentation/d/1NizhNndINxTHR2ynROWtHcqT6Rtx3hw3TV3k4JPixwg/edit#slide=id.g4dfce81f19_0_45">
                <p class = "ptitle">Project Proposal Exemplar</p>
                </a>
                <p class = "pdesc">Familiarize yourself with the Buddy Bench exemplar. Understand the format, structure and complexity of your proposal.</p>
                <p class="pdate">April 2, 2024</p>
            </div>
            <div class="presentationwrap">
                <img class="ptb" src="{{ url_for('static', filename='images/lesson3.png') }}">
                <hr class="presentationimagedivider">
                <p class = "pnum"><em>Lesson 3</em></p>
                <a class="linkclass" href="https://docs.google.com/presentation/d/1NizhNndINxTHR2ynROWtHcqT6Rtx3hw3TV3k4JPixwg/edit#slide=id.g4dfce81f19_0_45">
                <p class = "ptitle">Building a Business Proposal</p>
                </a>
                <p class = "pdesc">Understand the important aspects of structuring and of formatting your business proposal.<br><br><a class="linkclass" href="https://forms.gle/iaDsWivmENpzxBh48">Concept Check</a></p>
                <p class="pdate">April 9, 2024</p>
            </div>
            <div class="presentationwrap">
                <img class="ptb" src="{{ url_for('static', filename='images/lesson4.png') }}">
                <hr class="presentationimagedivider">
                <p class = "pnum"><em>Lesson 4</em></p>
                <a class="linkclass" href="https://docs.google.com/presentation/d/1NizhNndINxTHR2ynROWtHcqT6Rtx3hw3TV3k4JPixwg/edit#slide=id.g4dfce81f19_0_45">
                <p class = "ptitle">Finance</p>
                </a>
                <p class = "pdesc">Learn about the basics of budgeting and how to work around a given budget using various methods.<br><br><a class="linkclass" href="https://docs.google.com/document/d/1gVu_YK_kB5MqbLeOeW4R0M5MnNEQOTSkUZ-XwizNGCw/edit?usp=sharing">Lesson Worksheet</a></p>
                <p class="pdate">April 16, 2024</p>
            </div>
            <div class="presentationwrap">
                <img class="ptb" src="{{ url_for('static', filename='images/lesson5.png') }}">
                <hr class="presentationimagedivider">
                <p class = "pnum"><em>Lesson 5</em></p>
                <a class="linkclass" href="https://docs.google.com/presentation/d/1NizhNndINxTHR2ynROWtHcqT6Rtx3hw3TV3k4JPixwg/edit#slide=id.g4dfce81f19_0_45">
                <p class = "ptitle">Marketing</p>
                </a>
                <p class = "pdesc">Discover effective marketing strategies involving understanding your target market and product promotion within your community.<br><br></p>
                <p class="pdate">April 23, 2024</p>
            </div>
            <div class="presentationwrap">
                <img class="ptb" src="{{ url_for('static', filename='images/lesson6.png') }}">
                <hr class="presentationimagedivider">
                <p class = "pnum"><em>Lesson 6</em></p>
                <a class="linkclass" href="https://docs.google.com/presentation/d/1NizhNndINxTHR2ynROWtHcqT6Rtx3hw3TV3k4JPixwg/edit#slide=id.g4dfce81f19_0_45">
                <p class = "ptitle">Promoting Your Idea</p>
                </a>
                <p class = "pdesc">Learn the four steps to creating and promoting your proposal to maximize your target audience and leave a lasting impact on the judges. </p>
                <p class="pdate">April 30, 2024</p>
            </div>
            <div class="presentationwrap">
                <img class="ptb" src="{{ url_for('static', filename='images/relove.png') }}">
                <hr class="presentationimagedivider">
                <p class = "pnum"><em>Exemplar</em></p>
                <a class="linkclass"  href="https://docs.google.com/presentation/d/1NizhNndINxTHR2ynROWtHcqT6Rtx3hw3TV3k4JPixwg/edit#slide=id.g4dfce81f19_0_45">
                <p class = "ptitle">The Relove Collective</p>
                </a>
                <p class = "pdesc">Check out a previous winning proposal by Manaswini Velagapudi. Her exemplary work serves as a resource to refer to when creating your own! <br></p>
                <p class="pdate">May 21, 2024</p>
            </div>
            <div class="blankpresentationwrap">

            </div>
        </div>

    </section>

    <section id="joinus">
        <div class="join-left">
            <p class="join-headertext">Join Us</p>
            <p class="join-subtitle">Make a difference in your community today. See how you can get involved</p>
            <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSduh7FjbUmMw-cd_wfcYqAT9okcFZKL6EYLEFNEd-YoRp6ufQ/viewform?usp=header"><button type="button" class="global-button" id="signup-button">SIGN UP</button></a>
        </div>
        <div id="join-center">
            <img id="joinus-image" src="{{ url_for('static', filename='images/joinus.png') }}">
        </div>
        <div class="join-right">
            <p class="join-headertext">Any Questions?</p>
            <p class="join-subtitle">Send us an email or DM! See our FAQ page.</p>
            <a href="/faq"><button type="button" class="global-button"  id="signup-button">FAQ</button></a>
        </div>
        </div>

    </section>

    <footer id="join-wrapper">
        <hr class="white-line">
        <div id="join-body">
            <div id="join-body-l">
                <div id="join-body-l1">
                    <p id="join-body-l-1">JOIN</p>
                    <p id="join-body-l-2">SOLVEXCHANGE</p>
                    <p id="join-body-l-3">TODAY</p>
                </div>
                <p id="join-body-l-4">Join a community of inspiring youth leaders. Become the driving force behind transformative change.</p>
            </div>
            <div id="join-body-b">
                <div id="join-body-m">
                    <p id="join-body-m-1">Take Action</p>
                    <p id="join-body-m-2"><a class="white linkclass" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSduh7FjbUmMw-cd_wfcYqAT9okcFZKL6EYLEFNEd-YoRp6ufQ/viewform?usp=header">Sign Up</a></p>
                    <p id="join-body-m-3"><a class="white linkclass" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSf7dE2LwcWWHos2Zh2kMmCBFBa_sGGffRKAEe76a8WYhl7eeg/viewform?usp=header">Become an executive</a></p>
                    <p id="join-body-m-4"><a class="white linkclass" target="_blank" href="https://www.instagram.com/p/C9nvJi9PVgE/">Become a judge</a></p>
    
                </div>
                <div id="join-body-r">
                    <p id="join-body-r-0">Connect With Us</p>
                      <div id="join-body-r-1-wrap"><img id="classroom" src="{{ url_for('static', filename='images/classroom.png') }}" width="35" height="27"><p id="join-body-r-1"><a class="white linkclass" target="_blank" href="https://classroom.google.com/c/NjE4MzQ1Mjg3NDcy?cjc=2aqmjab">Classroom</a></p></div>
                      <div id="join-body-r-2-wrap"><img id="insta" src="{{ url_for('static', filename='images/insta.png') }}" width="35" height="35" ><p id="join-body-r-2"><a class="white linkclass" target="_blank" href="https://www.instagram.com/solvexchange/">@solvexchange</a></p></div>
                      <div id="join-body-r-3-wrap"><img id="linkedin" src="{{ url_for('static', filename='images/linkedin.png') }}" width="35" height="35"><p id="join-body-r-3"><a class="white linkclass" target="_blank" href="https://www.linkedin.com/in/solvexchange-irhs-3b6526288/">SolveXchange</a></p></div>
                      <div id="join-body-r-4-wrap"><img id="email" src="{{ url_for('static', filename='images/email.png') }}" width="35" height="25.68"><p id="join-body-r-4"><a class="white linkclass" target="_blank" href="https://mail.google.com/mail/u/0/?tf=cm&fs=1&to=solvexchange.info@gmail.com&hl=en-US">solvexchange gmail</a></p></div>
                </div>
            </div>
    
        </div>
        <hr class="white-line">
    </footer>    
</div>



{% endblock %}